@tailwind base;
@tailwind components;
@tailwind utilities;

/* importando as fontes */
@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/Chillax-Light.otf') format('otf'),
        url('/fonts/Chillax-Regular.otf') format('otf'),
        url('/fonts/Chillax-Semibold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}